<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nfjd.mapper.BroadbandMapper" >
<resultMap id="MapValueModel" type="com.nfjd.model.MapValueModel" >
  <result column="name" property="name"  />
  <result column="value" property="value"  />
</resultMap>

<resultMap id="CustomerModel" type="com.nfjd.model.CustomerModel" >
  <result column="phone_no" property="msisdn"  />
  <result column="cmcc_prov_prvd_id" property="cmcc_prov_prvd_id"  />
  <result column="ascription" property="ascription"  />
  <result column="gender" property="gender"  />
  <result column="age_stage" property="age"  />
  <result column="resident_area" property="resident_area"  />
  <result column="is_high_value" property="is_high_value"  />
</resultMap>
<resultMap id="LocationModel" type="com.nfjd.model.LocationModel" >
  <result column="bts_lgtd" property="longitude"  />
  <result column="bts_ltd" property="latitude"  />
</resultMap>
<select id="getRegionHot" resultMap="MapValueModel">
   select settlement as name,sum(1) as value from visual_st_broadband_user_info_final group by settlement
</select>

<select id="getProfileGender" resultMap="MapValueModel">
   select gender as name,sum(1)as value from visual_st_broadband_user_info_final  group by gender
</select>

<select id="getProfileAge" resultMap="MapValueModel">
   select age_stage as name,sum(1)as value from visual_st_broadband_user_info_final  group by age_stage
</select>

<select id="getCustomers" resultMap="CustomerModel">
	select * from visual_st_broadband_user_info_final limit #{start},#{num}
</select>
<select id="geCountCustomers" resultType="java.lang.Integer">
	select count(*) from visual_st_broadband_user_info_final  
</select>

<select id="getCustomersLocation" resultMap="LocationModel">
	select * from visual_st_broadband_user_info_final  
	<where>
		bts_lgtd!=bts_ltd
		<if test="city != 'all'">
	        and city_name = #{city}
	    </if>
	</where>
	limit 1000
</select>

</mapper>