<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="weekn.wreport.mapper.ProjectMapper" >
  <resultMap id="projectMap" type="weekn.wreport.model.ProjectModel" >
    
    <result column="id0" property="id"  />
    <result column="name0" property="name"  />
    <collection property="sub" ofType="weekn.wreport.model.ProjectModel">
            <result column="id1" property="id"  />
    		<result column="name1" property="name"  />
    		<collection property="sub" ofType="weekn.wreport.model.ProjectModel">
	            <result column="id2" property="id"  />
	    		<result column="name2" property="name"  />
    		</collection>
    </collection>
  </resultMap>

<select id="getProject" resultMap="projectMap">
select p0.name as name0,p0.id as id0 ,p1.name as name1,p1.id as id1, p2.name as name2,p2.id as id2
  from project p0 
 LEFT join project p1 on p0.id = p1.up_0_id and p1.level=1
 LEFT join project p2 on p1.id = p2.up_1_id and p2.level=2
where p0.level =0

</select>
	

</mapper>