<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="weekn.wreport.dao.ProjectDao">


	<resultMap id="projectMap" type="weekn.wreport.model.ProjectModel">

		<result column="id0" property="id" />
		<result column="name0" property="name" />

		<collection property="sub" ofType="weekn.wreport.model.ProjectModel">
			<result column="id1" property="id" />
			<result column="name1" property="name" />

			<collection property="sub" ofType="weekn.wreport.model.ProjectModel">
				<result column="id2" property="id" />
				<result column="name2" property="name" />

			</collection>
		</collection>
	</resultMap>
	
	<resultMap id="project_role_Map" type="weekn.wreport.model.ProjectRoleModel">
		<result column="project_name" property="project_name" />
		<result column="project_id" property="project_id" />
		<collection property="roles" ofType="weekn.wreport.model.PRoleModel">
			
			<result column="user_name" property="user_name" />
			
			<result column="user_id" property="user_id" />
			<result column="role" property="role" />
		</collection>
		
	</resultMap>


	<select id="getRunningProject" resultMap="projectMap">
		select p0.name as name0,p0.id as id0 ,p1.name as name1,p1.id as id1, p2.name
		as name2,p2.id as id2
		from project p0
		LEFT join project p1 on p0.id = p1.up_id and p1.level=1
		LEFT join project p2 on p1.id = p2.up_id and p2.level=2
		where p0.level =0

	</select>
	<select id="getProjectRolesA2ProjectId" parameterType="java.util.List" resultMap="project_role_Map">
		SELECT pr.id as id,p.name as project_name,u.username as user_name,p.id as project_id ,u.id as user_id,pr.role  as role 
		FROM project p 
		left join project_role pr on p.id =pr.project_id 
		left join sys_user u on pr.user_id=u.id
		<where>
		p.id in
			<foreach collection="list" item="item" open=" (" separator="," close=")">
	          #{item} 
	    	</foreach>
		
			
		
			
		</where>
		
	</select>
	
	<insert id="addProject" parameterType="weekn.wreport.model.ProjectModel">
		insert into project(name,level,up_id,team_id) values (#{name}, #{level}, #{up_id}, #{team_id})
	</insert>
	
	<delete id="deleteProject">
		delete from project  where id in (
		select id from 
			(select * from project  where 
					id in 
				(select id from project  where id=#{id} or up_id=#{id} )   
					or up_id in 
				(select id from project  where id=#{id} or up_id=#{id}) 
			)p
		)

	</delete>

</mapper>