<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="weekn.wreport.mapper.ReportMapper" >
  <resultMap id="reportMap" type="weekn.wreport.model.ReportModel" >
    
    <result column="id" property="id"  />
    <result column="project_id" property="project_id"  />
    <result column="user_id" property="user_id"  />
    <result column="general" property="general"  />
    <result column="time" property="time"  />
    <result column="outcome" property="outcome"  />
    <result column="problem" property="problem"  />
    <result column="plan" property="plan"  />
     <result column="rate" property="rate"  />
  </resultMap>
<!-- <insert id="addReport" parameterType="weekn.wreport.model.ReportModel"> -->
<!--         insert into report  -->
<!--         (name, -->
<!--         level, -->
<!--         up_0_id, -->
<!--         up_0_name, -->
<!--         up_1_id, -->
<!--         up_1_name, -->
<!--         plan_start_time, -->
<!--         plan_end_time -->
<!--         ) values ( -->
<!--         #{name}, -->
<!--         #{level}, -->
<!--         #{up_0_id}, -->
<!--         #{up_0_name}, -->
<!--         #{up_1_id}, -->
<!--         #{up_1_name}, -->
<!--         #{plan_start_time}, -->
<!--         #{plan_end_time} -->
<!--         ) -->
        
<!-- </insert> -->
<insert id="addReport" parameterType="weekn.wreport.model.ReportModel">
        insert into report 
        (project_id,
        user_id,
        general,
        time,
        outcome,
        problem,
        plan,
        rate
        ) values (
        #{project_id},
        #{user_id},
        #{general},
        #{time },
        #{outcome},
        #{problem},
        #{plan},
        #{rate}
        )
        
</insert>

<select id="getReportWithUser" resultMap="reportMap">
	select * from report
	<where>
		user_id=#{userid} 
	</where>
</select>


</mapper>