<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="weekn.wreport.dao.UserDao" >
  <resultMap id="userMap" type="weekn.wreport.model.SysUserModel" >
    <result column="id" property="id"  />
    <result column="username" property="username"  />
    <result column="team_id" property="team_id"  />
    <collection property="roles" ofType="weekn.wreport.model.SysRoleModel">
            <result column="name" property="name"/>
    </collection>
  </resultMap>
<select id="findByUserName" parameterType="String" resultMap="userMap">
        select u.* ,r.name from sys_user u
        LEFT JOIN sys_role_user sru on u.id= sru.sys_user_id
        LEFT JOIN sys_role r on sru.sys_role_id=r.id
        where username= #{username} and password=#{password} 
</select>


</mapper>